In [13]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [14]:
data = pd.read_csv("D:/Datasets/hypothyroid (1).csv")
data

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,Class
0,41,F,f,f,f,f,f,f,f,f,...,t,125,t,1.14,t,109,f,?,SVHC,negative
1,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,?,other,negative
2,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,?,other,negative
3,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,?,other,negative
4,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,?,SVI,negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3767,30,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,f,?,other,negative
3768,68,F,f,f,f,f,f,f,f,f,...,t,124,t,1.08,t,114,f,?,SVI,negative
3769,74,F,f,f,f,f,f,f,f,f,...,t,112,t,1.07,t,105,f,?,other,negative
3770,72,M,f,f,f,f,f,f,f,f,...,t,82,t,0.94,t,87,f,?,SVI,negative
3771,64,F,f,f,f,f,f,f,f,f,...,t,99,t,1.07,t,92,f,?,other,negative

In [15]:
data.isnull().sum()

age                          0
sex                          0
on_thyroxine                 0
query_on_thyroxine           0
on_antithyroid_medication    0
sick                         0
pregnant                     0
thyroid_surgery              0
I131_treatment               0
query_hypothyroid            0
query_hyperthyroid           0
lithium                      0
goitre                       0
tumor                        0
hypopituitary                0
psych                        0
TSH_measured                 0
TSH                          0
T3_measured                  0
T3                           0
TT4_measured                 0
TT4                          0
T4U_measured                 0
T4U                          0
FTI_measured                 0
FTI                          0
TBG_measured                 0
TBG                          0
referral_source              0
Class                        0
dtype: int64

In [16]:
data.columns

Index(['age', 'sex', 'on_thyroxine', 'query_on_thyroxine',
       'on_antithyroid_medication', 'sick', 'pregnant', 'thyroid_surgery',
       'I131_treatment', 'query_hypothyroid', 'query_hyperthyroid', 'lithium',
       'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH_measured', 'TSH',
       'T3_measured', 'T3', 'TT4_measured', 'TT4', 'T4U_measured', 'T4U',
       'FTI_measured', 'FTI', 'TBG_measured', 'TBG', 'referral_source',
       'Class'],
      dtype='object')

In [17]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

data["sex"]=le.fit_transform(data["sex"])
data["on_thyroxine"]=le.fit_transform(data["on_thyroxine"])
data["query_on_thyroxine"]=le.fit_transform(data["query_on_thyroxine"])
data["on_antithyroid_medication"]=le.fit_transform(data["on_antithyroid_medication"])
data["sick"]=le.fit_transform(data["sick"])
data["pregnant"]=le.fit_transform(data["pregnant"])
data["thyroid_surgery"]=le.fit_transform(data["thyroid_surgery"])
data["I131_treatment"]=le.fit_transform(data["I131_treatment"])
data["query_hypothyroid"]=le.fit_transform(data["query_hypothyroid"])
data["query_hyperthyroid"]=le.fit_transform(data["query_hyperthyroid"])
data["lithium"]=le.fit_transform(data["lithium"])
data["goitre"]=le.fit_transform(data["goitre"])
data["tumor"]=le.fit_transform(data["tumor"])
data["hypopituitary"]=le.fit_transform(data["hypopituitary"])
data["psych"]=le.fit_transform(data["psych"])
data["TSH_measured"]=le.fit_transform(data["TSH_measured"])
data["TSH"]=le.fit_transform(data["TSH"])
data["T3_measured"]=le.fit_transform(data["T3_measured"])
data["T3"]=le.fit_transform(data["T3"])
data["TT4_measured"]=le.fit_transform(data["TT4_measured"])
data["FTI_measured"]=le.fit_transform(data["FTI_measured"])
data["TBG_measured"]=le.fit_transform(data["TBG_measured"])
data["TBG"]=le.fit_transform(data["TBG"])
data["Class"]=le.fit_transform(data["Class"])


data

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,Class
0,41,1,0,0,0,0,0,0,0,0,...,1,125,t,1.14,1,109,0,0,SVHC,1
1,23,1,0,0,0,0,0,0,0,0,...,1,102,f,?,0,?,0,0,other,1
2,46,2,0,0,0,0,0,0,0,0,...,1,109,t,0.91,1,120,0,0,other,1
3,70,1,1,0,0,0,0,0,0,0,...,1,175,f,?,0,?,0,0,other,1
4,70,1,0,0,0,0,0,0,0,0,...,1,61,t,0.87,1,70,0,0,SVI,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3767,30,1,0,0,0,0,0,0,0,0,...,0,?,f,?,0,?,0,0,other,1
3768,68,1,0,0,0,0,0,0,0,0,...,1,124,t,1.08,1,114,0,0,SVI,1
3769,74,1,0,0,0,0,0,0,0,0,...,1,112,t,1.07,1,105,0,0,other,1
3770,72,2,0,0,0,0,0,0,0,0,...,1,82,t,0.94,1,87,0,0,SVI,1
3771,64,1,0,0,0,0,0,0,0,0,...,1,99,t,1.07,1,92,0,0,other,1

In [18]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

data["T4U_measured"]=le.fit_transform(data["T4U_measured"])

data

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,Class
0,41,1,0,0,0,0,0,0,0,0,...,1,125,1,1.14,1,109,0,0,SVHC,1
1,23,1,0,0,0,0,0,0,0,0,...,1,102,0,?,0,?,0,0,other,1
2,46,2,0,0,0,0,0,0,0,0,...,1,109,1,0.91,1,120,0,0,other,1
3,70,1,1,0,0,0,0,0,0,0,...,1,175,0,?,0,?,0,0,other,1
4,70,1,0,0,0,0,0,0,0,0,...,1,61,1,0.87,1,70,0,0,SVI,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3767,30,1,0,0,0,0,0,0,0,0,...,0,?,0,?,0,?,0,0,other,1
3768,68,1,0,0,0,0,0,0,0,0,...,1,124,1,1.08,1,114,0,0,SVI,1
3769,74,1,0,0,0,0,0,0,0,0,...,1,112,1,1.07,1,105,0,0,other,1
3770,72,2,0,0,0,0,0,0,0,0,...,1,82,1,0.94,1,87,0,0,SVI,1
3771,64,1,0,0,0,0,0,0,0,0,...,1,99,1,1.07,1,92,0,0,other,1

In [19]:
data.isnull().sum()

age                          0
sex                          0
on_thyroxine                 0
query_on_thyroxine           0
on_antithyroid_medication    0
sick                         0
pregnant                     0
thyroid_surgery              0
I131_treatment               0
query_hypothyroid            0
query_hyperthyroid           0
lithium                      0
goitre                       0
tumor                        0
hypopituitary                0
psych                        0
TSH_measured                 0
TSH                          0
T3_measured                  0
T3                           0
TT4_measured                 0
TT4                          0
T4U_measured                 0
T4U                          0
FTI_measured                 0
FTI                          0
TBG_measured                 0
TBG                          0
referral_source              0
Class                        0
dtype: int64

In [39]:
dataset = data.replace("?",0)
dataset

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,Class
0,41,1,0,0,0,0,0,0,0,0,...,1,125,1,1.14,1,109,0,0,SVHC,1
1,23,1,0,0,0,0,0,0,0,0,...,1,102,0,0,0,0,0,0,other,1
2,46,2,0,0,0,0,0,0,0,0,...,1,109,1,0.91,1,120,0,0,other,1
3,70,1,1,0,0,0,0,0,0,0,...,1,175,0,0,0,0,0,0,other,1
4,70,1,0,0,0,0,0,0,0,0,...,1,61,1,0.87,1,70,0,0,SVI,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3767,30,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,other,1
3768,68,1,0,0,0,0,0,0,0,0,...,1,124,1,1.08,1,114,0,0,SVI,1
3769,74,1,0,0,0,0,0,0,0,0,...,1,112,1,1.07,1,105,0,0,other,1
3770,72,2,0,0,0,0,0,0,0,0,...,1,82,1,0.94,1,87,0,0,SVI,1
3771,64,1,0,0,0,0,0,0,0,0,...,1,99,1,1.07,1,92,0,0,other,1

In [38]:
data

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,Class
0,41,1,0,0,0,0,0,0,0,0,...,1,125,1,1.14,1,109,0,0,SVHC,1
1,23,1,0,0,0,0,0,0,0,0,...,1,102,0,?,0,?,0,0,other,1
2,46,2,0,0,0,0,0,0,0,0,...,1,109,1,0.91,1,120,0,0,other,1
3,70,1,1,0,0,0,0,0,0,0,...,1,175,0,?,0,?,0,0,other,1
4,70,1,0,0,0,0,0,0,0,0,...,1,61,1,0.87,1,70,0,0,SVI,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3767,30,1,0,0,0,0,0,0,0,0,...,0,?,0,?,0,?,0,0,other,1
3768,68,1,0,0,0,0,0,0,0,0,...,1,124,1,1.08,1,114,0,0,SVI,1
3769,74,1,0,0,0,0,0,0,0,0,...,1,112,1,1.07,1,105,0,0,other,1
3770,72,2,0,0,0,0,0,0,0,0,...,1,82,1,0.94,1,87,0,0,SVI,1
3771,64,1,0,0,0,0,0,0,0,0,...,1,99,1,1.07,1,92,0,0,other,1

In [40]:
y = dataset["Class"].values
y

array([1, 1, 1, ..., 1, 1, 1])

In [41]:
x = dataset.drop(["Class","referral_source"],axis=1).values
x

array([['41', 1, 0, ..., '109', 0, 0],
       ['23', 1, 0, ..., 0, 0, 0],
       ['46', 2, 0, ..., '120', 0, 0],
       ...,
       ['74', 1, 0, ..., '105', 0, 0],
       ['72', 2, 0, ..., '87', 0, 0],
       ['64', 1, 0, ..., '92', 0, 0]], dtype=object)

In [42]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=1/3,random_state=4)

In [43]:
from sklearn.decomposition import PCA
  
pca = PCA(n_components = 2)
  
x_train = pca.fit_transform(x_train)
x_test = pca.transform(x_test)
  
explained_variance = pca.explained_variance_ratio_

In [44]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(x_train,y_train)

LogisticRegression()

In [45]:
y_pred = lr.predict(x_test)
y_pred

array([1, 1, 1, ..., 1, 1, 1])

In [46]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)
cm

array([[   0,   72,    0],
       [   0, 1147,    0],
       [   0,   39,    0]], dtype=int64)

In [47]:
from sklearn import metrics
print(metrics.accuracy_score(y_test,y_pred))

0.9117647058823529

In [48]:
print (lr.score(x_train,y_train))
print (lr.score(x_test,y_test))

0.9284009546539379
0.9117647058823529

In [49]:
from sklearn.metrics import classification_report
print (classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00        72
           1       0.91      1.00      0.95      1147
           2       0.00      0.00      0.00        39

    accuracy                           0.91      1258
   macro avg       0.30      0.33      0.32      1258
weighted avg       0.83      0.91      0.87      1258

C:\Users\GOKUL\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\GOKUL\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\GOKUL\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))